
<!--<div class="navbar-outer">-->
<!--  <nav class="navbar navbar-expand-lg m-0 p-0 ms-0" >-->
<!--    <div class="container-fluid m-0">-->

<!--      &lt;!&ndash;    ===========Logo=========&ndash;&gt;-->

<!--      <div class="left-items">-->

<!--        <div class="header-logo">-->
<!--          <img src="../../assets/images/logo.png">-->
<!--        </div>-->
<!--        &lt;!&ndash;    ===========Logo=========&ndash;&gt;-->




<!--        &lt;!&ndash;    ===========AVO OPTION COLLAPSE=========&ndash;&gt;-->
<!--        <div class="option-collapse-panel p-4">-->


<!--            <a class="link-option" data-bs-toggle="collapse" href="#collapseExample"  aria-expanded="false" aria-controls="collapseExample">-->
<!--              + AVO-->
<!--            </a>-->


<!--        </div>-->
<!--      </div>-->
<!--      &lt;!&ndash;    ===========AVO OPTION COLLAPSE=========&ndash;&gt;-->



<!--      &lt;!&ndash;    <div class="collapse navbar-collapse" id="navbarSupportedContent">&ndash;&gt;-->
<!--      &lt;!&ndash;      <ul class="navbar-nav me-auto mb-2 mb-lg-0">&ndash;&gt;-->
<!--      &lt;!&ndash;        <li class="nav-item">&ndash;&gt;-->
<!--      &lt;!&ndash;          <a class="nav-link active" aria-current="page" href="#">Home</a>&ndash;&gt;-->
<!--      &lt;!&ndash;        </li>&ndash;&gt;-->
<!--      &lt;!&ndash;        <li class="nav-item">&ndash;&gt;-->
<!--      &lt;!&ndash;          <a class="nav-link" href="#">Link</a>&ndash;&gt;-->
<!--      &lt;!&ndash;        </li>&ndash;&gt;-->
<!--      &lt;!&ndash;        <li class="nav-item dropdown">&ndash;&gt;-->
<!--      &lt;!&ndash;          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">&ndash;&gt;-->
<!--      &lt;!&ndash;            Dropdown&ndash;&gt;-->
<!--      &lt;!&ndash;          </a>&ndash;&gt;-->
<!--      &lt;!&ndash;          <ul class="dropdown-menu">&ndash;&gt;-->
<!--      &lt;!&ndash;            <li><a class="dropdown-item" href="#">Action</a></li>&ndash;&gt;-->
<!--      &lt;!&ndash;            <li><a class="dropdown-item" href="#">Another action</a></li>&ndash;&gt;-->
<!--      &lt;!&ndash;            <li><hr class="dropdown-divider"></li>&ndash;&gt;-->
<!--      &lt;!&ndash;            <li><a class="dropdown-item" href="#">Something else here</a></li>&ndash;&gt;-->
<!--      &lt;!&ndash;          </ul>&ndash;&gt;-->
<!--      &lt;!&ndash;        </li>&ndash;&gt;-->
<!--      &lt;!&ndash;        <li class="nav-item">&ndash;&gt;-->
<!--      &lt;!&ndash;          <a class="nav-link disabled" aria-disabled="true">Disabled</a>&ndash;&gt;-->
<!--      &lt;!&ndash;        </li>&ndash;&gt;-->
<!--      &lt;!&ndash;      </ul>&ndash;&gt;-->

<!--      <div class="right-items">-->


<!--        <div class="desktop  icon-box p-3">-->
<!--          <a href="#">-->
<!--          <i class="fa-solid fa-desktop icons" style="color: #c2bfbf;"></i>-->
<!--          </a>-->
<!--        </div>-->

<!--        <div class="tablet icon-box p-3">-->
<!--          <a href="#">-->
<!--          <i class="fa-solid fa-tablet icons" style="color: #C2BFBFFF;"></i>-->
<!--          </a>-->
<!--        </div>-->

<!--        <div class="phone icon-box p-3">-->
<!--          <a href="#">-->
<!--          <i class="fa-solid fa-mobile icons" style="color: #C2BFBFFF;"></i>-->
<!--          </a>-->
<!--        </div>-->

<!--        <div class="shopping icon-box p-3">-->
<!--          <i class="fa-solid fa-cart-shopping icons" style="color: #FFFFFF;"></i>-->
<!--        </div>-->

<!--        <div class="close icon-box p-3">-->
<!--          <i class="fa-solid fa-xmark icons style=" style="color: #C2BFBFFF;"></i>-->
<!--        </div>-->



<!--      </div>-->



<!--      &lt;!&ndash;    <div class="right-items">&ndash;&gt;-->

<!--      &lt;!&ndash;    <div class="desktop icon-box">&ndash;&gt;-->
<!--      &lt;!&ndash;    <img class="icon" src="../../assets/images/header-icons/desktop-solid.svg">&ndash;&gt;-->
<!--      &lt;!&ndash;    </div>&ndash;&gt;-->

<!--      &lt;!&ndash;      <div class="tablet icon-box">&ndash;&gt;-->
<!--      &lt;!&ndash;        <img class="icon" src="../../assets/images/header-icons/desktop-solid.svg">&ndash;&gt;-->
<!--      &lt;!&ndash;      </div>&ndash;&gt;-->

<!--      &lt;!&ndash;      <div class="phone icon-box">&ndash;&gt;-->
<!--      &lt;!&ndash;        <img class="icon" src="../../assets/images/header-icons/desktop-solid.svg">&ndash;&gt;-->
<!--      &lt;!&ndash;      </div>&ndash;&gt;-->

<!--      &lt;!&ndash;      <div class="shoping icon-box">&ndash;&gt;-->
<!--      &lt;!&ndash;        <img class="icon" src="../../assets/images/header-icons/desktop-solid.svg">&ndash;&gt;-->
<!--      &lt;!&ndash;      </div>&ndash;&gt;-->

<!--      &lt;!&ndash;      <div class="cross icon-box">&ndash;&gt;-->
<!--      &lt;!&ndash;        <img class="icon" src="../../assets/images/header-icons/desktop-solid.svg">&ndash;&gt;-->
<!--      &lt;!&ndash;      </div>&ndash;&gt;-->




<!--      &lt;!&ndash;    </div>&ndash;&gt;-->


<!--    </div>-->
<!--  </nav>-->
<!--</div>-->


<!--<div class="collapse" id="collapseExample">-->
<!--  <div class="card card-body">-->

<!--  </div>-->
<!--</div>-->







