


//.navbar-outer{
//  position: fixed;
//}

.navbar{
  width: 100%;
  height: 60px;
  background: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  text-align: center;

}

.left-items{
  //align-items: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
}


.header-logo{
  width: 150px;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #444;

}
.header-logo img{
 width: 130px;
  height: 100%;
}

.option-collapse-panel{
  width: 120px;
  height: 100%;
  background-color: #1a1a1a;
  align-items: center;
  justify-content: center;
  display: flex;
  border-right: 1px solid #444444;
}

.option-collapse-panel h4{
  display: flex;
  align-items: center;
  justify-content: center;


}

.link-option{
  text-decoration: none;
  color: grey;
}

.card{
  width: 100%;
  height: 150px;
  background-color: #333333;
  border-radius: 0;
}

.right-items{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right:0;
}

.icon-box{
  width: 60px;
  height: 100%;
  border-left:1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
}



.fa-desktop{
  width: 30px;
  height: 100%
}

.fa-tablet{
  width:22px;
  height:100%
}

.fa-mobile{
  width:18px;
  height:100%
}

.fa-cart-shopping{
  width:35px;
  height:100%
}

.fa-xmark{
  width:25px;
  height:100%
}

.shopping{
  height:100%;
  background-color: #94e715;
  display:flex;
}






